@model Post
<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper AllBreadcrumbs">
        <a asp-action="Index" asp-controller="Home" rel="homepage">Home</a>&nbsp;&nbsp;»&nbsp;&nbsp;
        <a asp-action="Index" asp-controller="Post" rel="post">Post</a>
        &nbsp;&nbsp;»&nbsp;&nbsp;
        Delete post
    </div>
</nav>
<!-- //breadcrumb -->

<div class="py-5 w3l-homeblock1 text-center">
    <div class="container mt-md-3 w3BlogLayout">
        <h3 class="blog-desc-big text-center mb-4">
            @Model.Title
        </h3>
        <div class="blog-post-align">

            <div class="blog-post-img">
                <a href="https://wp.w3layouts.com/designblog/author/w3layouts/">
                    <img src="~/images/328cc1f23e4a3b73aa60ee6ced1897a1(1).jpeg"
                         alt="" class="rounded-circle img-fluid">
                </a>
            </div>

            <div class="blog-post-info">
                <div class="author align-items-center mb-1">

                    <a href="https://wp.w3layouts.com/designblog/author/w3layouts/">
                    </a><a class="url fn n"
                           href="https://wp.w3layouts.com/designblog/author/w3layouts/">@Model.AuthorId</a>

                        in <a asp-action="Category" asp-controller="Post" asp-route-id="@Model.CategoryId" rel="category">@Model.CategoryId</a>

                    </div>
                    <ul class="blog-meta">

                        <li class="meta-item blog-lesson">
                            <span class="meta-value"> @Model.DateCreated.ToShortDateString() </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <section class="blog-post-main w3l-homeblock1">
        <!--/blog-post-->
        <div class="blog-content-inf pb-5">
            <div class="container pb-lg-4 w3BlogLayout">
                <div class="single-post-image mb-5">                   
                </div>
                <div class="single-post-content">
                    <!--post content-->
                    @Html.Raw(Model.Content)
                </div>
            </div>
        </div>

    </section>
    <div class="my-4">
        <form method="post">
            <input asp-for="Id" type="hidden" />
            <p class="text-center">Bạn có chắc chắn muốn xoá bài viết này?</p>
            <div class="d-flex">
                <button class="btn btn-danger mx-auto">Delete</button>
            </div>
        </form>
    </div>