@model Post
<div class="container">
    <div class="contact-grids">
        @Html.DisplayFor(m => m.Title)
        @Html.DisplayFor(m => m.AuthorId)
        @Html.DisplayFor(m => m.IsActive)
        @Html.DisplayFor(m => m.IsDeleted)       
        @Html.DisplayFor(m => m.CategoryId)
        @Html.DisplayFor(m => m.Description)
        @Html.DisplayFor(m => m.Content)
    </div>   
</div>