@model Post
@inject IConfiguration configuration
@{ 
    var hostAddress = configuration.GetSection("ApiServer").Value;
}

<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper AllBreadcrumbs">
        <a asp-action="Index" asp-controller="Home" rel="homepage">Home</a>&nbsp;&nbsp;»&nbsp;&nbsp;
        <a asp-action="Index" asp-controller="Post" rel="post">Post</a>
        &nbsp;&nbsp;»&nbsp;&nbsp;
        @Model.Title
    </div>
</nav>
<!-- //breadcrumb -->

<div class="py-5 w3l-homeblock1 text-center">
    <div class="container mt-md-3 w3BlogLayout">
        <h3 class="blog-desc-big text-center mb-4">
            Your Blog Posts are Boring: 9 Tips for Making your Writing more Interesting
        </h3>
        <div class="blog-post-align">

            <div class="blog-post-img">
                <a href="https://wp.w3layouts.com/designblog/author/w3layouts/">
                    <img src="@(hostAddress + "/" + Model.Author.AvatarUrl)"
                         alt="@Model.Author.FullName" class="rounded-circle img-fluid">
                </a>
            </div>

            <div class="blog-post-info">
                <div class="author align-items-center mb-1">
                    <a class="url fn n"
                           href="https://wp.w3layouts.com/designblog/author/w3layouts/">@Model.Author.Username</a>

                        in <a asp-action="Category" asp-controller="Post" asp-route-id="@Model.CategoryId" rel="category">@Model.Category.Name</a>

                    </div>
                    <ul class="blog-meta">

                        <li class="meta-item blog-lesson">
                            <span class="meta-value"> At: @Model.DateCreated.ToShortTimeString() - @Model.DateCreated.ToShortDateString() </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <section class="blog-post-main w3l-homeblock1">
        <!--/blog-post-->
        <div class="blog-content-inf pb-5">
            <div class="container pb-lg-4 w3BlogLayout">
                <div class="single-post-image mb-5">
                    <!--post's thumbnail-->
                    <!--<div class="post-content">

                        <div class="post-thumbnail">
                            <img width="560" height="370"
                                 src="./Your Blog Posts are Boring_ 9 Tips for Making your Writing more Interesting – Design Blog – Blogging Category WordPress Theme_files/p3.jpg"
                                 class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""
                                 loading="lazy"
                                 srcset="https://wp.w3layouts.com/designblog/wp-content/uploads/sites/48/2021/04/p3.jpg 560w, https://wp.w3layouts.com/designblog/wp-content/uploads/sites/48/2021/04/p3-300x198.jpg 300w, https://wp.w3layouts.com/designblog/wp-content/uploads/sites/48/2021/04/p3-360x238.jpg 360w"
                                 sizes="(max-width: 560px) 100vw, 560px">
                        </div>-->
                    <!-- .post-thumbnail -->
                    <!--</div>-->
                </div>
                <div class="single-post-content">
                    <!--post content-->
                    @Model.Content
                   
                    <!--about author-->
                    <div class="author-card author-listhny my-lg-5 my-sm-4 w3ArticleAuth">
                        <div class="row">
                            <div class="author-left col-sm-3 mb-sm-0 mb-4">
                                <a href="https://wp.w3layouts.com/designblog/author/w3layouts/">
                                    <!--author's avatar-->
                                    <img class="img-fluid"
                                        src="@(hostAddress+ "/" + Model.Author.AvatarUrl)"
                         alt="@Model.Author.FullName">
                                </a>
                            </div>
                            <div class="author-right col-sm-9 position-relative align-self">

                                <h4>
                                    <a href="https://wp.w3layouts.com/designblog/author/w3layouts/"
                                       class="title-team-28">@Model.Author.Username</a>
                                    <span class="badge badge-primary">Admin</span>
                                    <span class="badge badge-info">Member</span>
                                </h4>
                                <p class="para-team mb-0">
                                    @Model.Author.AboutMe
                                </p>

                                <div class="share-icons mt-4">
                                    <a href="https://twitter.com/w3layouts">
                                        <span class="fa fa-twitter"></span>
                                    </a>

                                    <a href="https://www.facebook.com/w3layouts">
                                        <span class="fa fa-facebook"></span>
                                    </a>

                                    <a href="https://www.instagram.com/w3layouts_/">
                                        <span class="fa fa-instagram"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--post's comments'-->
                    <div class="w3PostComments">
                        <div id="comments" class="comments-area">
                            @if (Model.Comments != null && Model.Comments.Count > 0)
                            {
                                <div class="comments mt-5">
                                    <h4 class="side-title ">Comments (@Model.Comments.Count)</h4>
                                   <partial name="_Comments" model="@Model.Comments" />
                                </div>
                            }
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="leave-comment-form mt-5" id="reply">
                                    <div class="d-flex">
                                        <h4 class="side-title mb-2" id="reply-to-comment-title">Leave a Reply</h4>
                                        <a href="" id="cancel-reply-to-comment" class="ml-3 pt-2" hidden>Cancel</a>
                                    </div>
                                    @*<h4 class="side-title mb-2"></h4>*@
                                    <form asp-action="PostComment" asp-controller="Comment" method="post">
                                        <div class="form-group">
                                            <input type="hidden" name="PostId" value="@Model.Id" />
                                            <input type="hidden" name="CommentParentId"  id="CommentParentId" value="" />
                                            <textarea name="Content" class="form-control" placeholder="Your Comment*" required
                                                      spellcheck="false"></textarea>
                                        </div>
                                        <div class="submit text-right">
                                            <button class="btn btn-style btn-primary">Post Comment </button>
                                        </div>
                                    </form>
                                </div>
                            }
                            else
                            {
                                //consider add returnUrl
                                <div class="text-center mt-3">
                                    Bạn phải <a asp-action="Login" asp-controller="Account">đăng nhập </a>
                                    mới có thể bình luận
                                </div>
                            }
                        </div><!-- #comments -->
                    </div>

                </div>
            </div>
        </div>
    </section>