@model ListPostDto
@inject IConfiguration configuration
@{
    var hostAddress = configuration.GetSection("ApiServer").Value;
}
@if (Model != null && Model.Posts.Count > 0)
{
    <main id="primary" class="site-main">
        <section class="w3l-blog-block2 mt-md-5">
            <div class="container py-lg-5 mb-lg-4 BlogHomeLayout">
                @*<div class="row img-block-mobile">
        <div class="col-lg-12 most-recent">*@
                <header class="page-header">
                    <h3 class="section-title-left mb-5">
                        Search Results for : <span>@Context.Request.Query["keyword"]</span>
                    </h3>
                </header><!-- .page-header -->
                <div class="row">
                    @foreach (Post post in Model.Posts)
                    {
                        <div class="col-lg-4 col-md-6 item mb-4">
                            <article id="post-137" class="post-137 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle">

                                <div class="card">
                                    <div class="card-header p-0 position-relative blog-post-thumb">
                                        <a class="post-thumbnail"
                                           asp-action="Detail" asp-controller="Post" asp-route-id="@post.Id"
                                           aria-hidden="true" tabindex="-1">
                                            <img width="560" height="370"
                                                 src="@(hostAddress + "/" + post.Thumbnail)"
                                                 class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                                 alt="@post.Title"
                                                 loading="lazy">
                                        </a>


                                    </div>
                                    <div class="card-body p-0 blog-details">
                                        <a asp-controller="Post" asp-action="Detail" asp-area="" asp-route-id="@post.Id" rel="bookmark" class="blog-desc">
                                            @post.Title
                                        </a>
                                        <div>
                                        </div>

                                        <div class="author align-items-center mt-3 mb-1">
                                            <a class="url fn n"
                                               asp-action="Detail" asp-controller="Member" asp-route-id="@post.Author.Id">@post.Author.Username</a>
                                            in <a asp-action="Detail" asp-controller="Category" asp-route-id="@post.CategoryId" rel="category tag">@post.Category.Name</a>
                                        </div>


                                        <ul class="blog-meta">

                                            <li class="meta-item blog-lesson">
                                                <span class="meta-value"> @post.DateCreated.ToShortDateString() </span>

                                            </li>
                                            <li class="meta-item blog-students">
                                                <span class="meta-value"> @post.DateCreated.ToShortTimeString()</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </article>
                        </div>
                    }
                </div>
                <!-- pagination -->
                @if (Model.TotalPage > 1)
                {
                    <div class="text-center">
                        <pagination total-page="@Model.TotalPage" current-page="@Context.Request.Query["page"].FirstOrDefault()" url="/post/search?keyword=@Context.Request.Query["keyword"]&{0}"></pagination>
                    </div>
                }
                <!-- //pagination -->
            </div>

            @*</div>

                </div>*@

        </section>
    </main>
}
else
{
    <div class="container py-md-5 py-sm-4">
        <div class="row justify-content-center">
            <section class="no-results not-found py-5 col-lg-6">
                <header class="page-header">
                    <h1 class="page-title">Nothing Found</h1>
                </header><!-- .page-header -->
                <div class="page-content">

                    <p class="mb-3">
                        Sorry, but nothing matched your search terms. Please try again with some different keywords.
                    </p>
                    <form role="search" method="get" class="search-form" asp-action="Search" asp-controller="Post" asp-area="">
                        <label>
                            <span class="screen-reader-text">Search for:</span>
                            <input type="search" class="search-field" placeholder="Search …" value="@Context.Request.Query["keyword"]" name="keyword">
                        </label>
                        <input type="submit" class="search-submit" value="Search">
                    </form>
                </div><!-- .page-content -->
            </section><!-- .no-results -->
        </div>
    </div>
}
