@model List<Category>
@{
    async Task RenderCategory(Category category, int level)
    {
        string prefix = string.Concat(Enumerable.Repeat("&emsp;", level));
        <tr>
            <td>@Html.Raw(prefix) @category.Name</td>
            <td>@(category.IsDeleted ? "Đã xóa" : "")</td>
            <td>
                <a asp-action="Edit" asp-controller="Category" asp-area="Manage" asp-route-id="@category.Id">Chỉnh sửa</a> |
                @if (!category.IsDeleted)
                {
                    <a asp-action="Delete" asp-controller="Category" asp-area="Manage" asp-route-id="@category.Id">Xóa</a>
                }
                else
                {
                    <a asp-action="Restore" asp-controller="Category" asp-area="Manage" asp-route-id="@category.Id">Khôi phục</a>
                }

            </td>
        </tr>
        if (category.ChildCategories?.Count > 0)
        {
            foreach (Category childCategory in category.ChildCategories)
            {
                await RenderCategory(childCategory, level + 1);
            }
        }
    }
}
<h4 class="text-center">QUẢN LÝ DANH MỤC</h4>
<div id="">
    <a asp-action="Create" class="btn btn-sm btn-primary">Tạo mới</a>
    <div class="my-4">
        @if (Model?.Count > 0)
        {
            <table>
                <thead>
                    <tr>
                        <th>Tên danh mục</th>
                        <th style="width: 15%;">Đã xóa</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Category category in Model)
                    {
                        await RenderCategory(category, 0);
                    }
                </tbody>
            </table>          }
            else
            {            
                <h5 class="text-center">Hiện không có danh mục nào</h5>
            }
    </div>
</div>        