@model MemberDetailViewModel

<h4 class="text-center">CHI TIẾT THÀNH VIÊN</h4>
<div id="memberdetails">
    <table class="table table-borderless">
        <tr>
            <th>Tên tài khoản:</th>
            <td>@Model.Member.Username</td>
        </tr>
        <tr>
            <th>Trạng thái tài khoản:</th>
            <td>@(Model.Member.IsBanned ? "Tài khoản bị khóa":"Đang hoạt động")</td>
        </tr>
        <tr>
            <th>Ngày gia nhập:</th>
            <td>@Model.Member.DateCreate.ToShortDateString()</td>
        </tr>
        <tr>
            <th>Vai trò:</th>
            <td>
                @foreach (var role in Model.Member.Roles)
                {
                    <span class="badge @role.ColorDisplay">@role.Name</span>
                }                
            </td>
        </tr>
        <tr>
            <th>Tên đầy đủ:</th>
            <td>@Model.Member.FullName</td>
        </tr>
        <tr>
            <th>Địa chỉ email:</th>
            <td>@Model.Member.Email</td>
        </tr>
        <tr>
            <th>Giới tính:</th>
            <td>@(Model.Member.Gender ? "Nam" :"Nữ")</td>
        </tr>
        <tr>
            <th>Ngày sinh:</th>
            <td>@Model.Member.DateOfBirth.ToShortDateString()</td>
        </tr>
        <tr>
            <th>Bài viết đã đăng:</th>
            <td>
                <a asp-action="ListPost" asp-controller="Member" asp-area="" asp-route-id="@Model.Member.Id" target="_blank">@Model.NumberOfPost bài viết</a>
            </td>
        </tr>
        <tr>
            <th>Bình luận đã đăng:</th>
            <td>
                <a asp-action="ListComment" asp-controller="Member" asp-area="" asp-route-id="@Model.Member.Id" target="_blank">@Model.NumberOfComment bình luận</a>
            </td>
        </tr>
    </table>
</div>
<div class="my-3 d-flex">    
    <a asp-action="UpdateRole" asp-route-id="@Model.Member.Id" class="btn btn-sm btn-info mr-3">Cập nhật vai trò</a>
    <a asp-action="BanAccount" asp-route-id="@Model.Member.Id" class="btn btn-sm  @(!Model.Member.IsBanned ? "btn-danger" : "btn-warning")" asp-route-returnUrl="@Context.Request.Path">
        @(!Model.Member.IsBanned ? "Khóa tài khoản" : "Gỡ khóa tài khoản")
    </a>
</div>