@model List<Post>
<h3 class="section-title-left">
    Featured posts
</h3>
@if (Model != null && Model.Count > 0)
{
    <div class="row">
        <div class="col-lg-5 col-md-6 item">
            <div class="card">
                <div class="card-header p-0 position-relative blog-post-thumb">
                    <a href="https://wp.w3layouts.com/designblog/2021/04/30/hello-world/">

                        <div class="post-thumbnail">
                            <img width="560" height="370"
                                 src="./Design Blog – Blogging Category WordPress Theme – Just another W3Layouts free WordPress Demo Sites site_files/blog.jpg"
                                 class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy"
                                 srcset="https://wp.w3layouts.com/designblog/wp-content/uploads/sites/48/2021/04/blog.jpg 560w, https://wp.w3layouts.com/designblog/wp-content/uploads/sites/48/2021/04/blog-300x198.jpg 300w, https://wp.w3layouts.com/designblog/wp-content/uploads/sites/48/2021/04/blog-360x238.jpg 360w"
                                 sizes="(max-width: 560px) 100vw, 560px">
                        </div><!-- .post-thumbnail -->

                    </a>
                </div>
                <div class="card-body p-0 blog-details">
                    <a href="https://wp.w3layouts.com/designblog/2021/04/30/hello-world/" class="blog-desc">
                        @Model[0].Title
                    </a>
                    <!-- <p>Lorem ipsum dolor sit amet consectetur ipsum adipisicing elit. Qui eligendi
                              vitae sit.</p> -->

                    <div class="author align-items-center mt-3 mb-1">

                        <a href="https://wp.w3layouts.com/designblog/author/w3layouts/">
                        </a><a class="url fn n" href="https://wp.w3layouts.com/designblog/author/w3layouts/">@Model[0].Author.Username</a>

                        in <a href="https://wp.w3layouts.com/designblog/#url"></a><a href="https://wp.w3layouts.com/designblog/category/culture/" rel="category tag">@Model[0].Category.Name</a>
                    </div>

                    <ul class="blog-meta">
                        <li class="meta-item blog-lesson">
                            <span class="meta-value"> @Model[0].DateCreated.ToShortDateString() </span>
                        </li>
                        <li class="meta-item blog-students">
                            <span class="meta-value"> @Model[0].DateCreated.ToShortTimeString()</span>
                        </li>
                    </ul>

                    <a asp-action="Index" asp-controller="Post" class="btn btn-style btn-outline mt-4">
                        Views all posts
                    </a>

                </div>
            </div>
        </div>

        <!-- featured second row posts -->

        <div class="col-lg-7 col-md-6 mt-md-0 mt-5">
            @if (Model.Count > 1)
            {
                for (int i = 1; i < Model.Count; i++)
                {
                    <div class="list-view list-view1 mb-5">
                        <div class="grids5-info">
                            <a href="https://wp.w3layouts.com/designblog/2021/05/31/how-to-write-a-blog-post-a-step-by-step-guide/"
                               class="d-block zoom">

                                <div class="post-thumbnail">
                                    <img width="340" height="284"
                                         src="./Design Blog – Blogging Category WordPress Theme – Just another W3Layouts free WordPress Demo Sites site_files/16.jpg"
                                         class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy"
                                         srcset="https://wp.w3layouts.com/designblog/wp-content/uploads/sites/48/2021/05/16.jpg 340w, https://wp.w3layouts.com/designblog/wp-content/uploads/sites/48/2021/05/16-300x251.jpg 300w, https://wp.w3layouts.com/designblog/wp-content/uploads/sites/48/2021/05/16-287x240.jpg 287w"
                                         sizes="(max-width: 340px) 100vw, 340px">
                                </div><!-- .post-thumbnail -->

                            </a>
                            <div class="blog-info align-self">
                                <a href="https://wp.w3layouts.com/designblog/2021/05/31/how-to-write-a-blog-post-a-step-by-step-guide/"
                                   class="blog-desc1">
                                    @Model[i].Title
                                </a>

                                <div class="author align-items-center mt-3 mb-1">
                                    <a href="https://wp.w3layouts.com/designblog/author/w3layouts/">
                                    </a><a class="url fn n" href="https://wp.w3layouts.com/designblog/author/w3layouts/"> @Model[i].Author.Username</a>

                                    in <a href="https://wp.w3layouts.com/designblog/#url"></a><a href="https://wp.w3layouts.com/designblog/category/startup/" rel="category tag"> @Model[i].Category.Name</a>
                                </div>

                                <ul class="blog-meta">
                                    <li class="meta-item blog-lesson">
                                        <span class="meta-value">  @Model[i].DateCreated.ToShortDateString() </span>
                                    </li>
                                    <li class="meta-item blog-students">
                                        <span class="meta-value">  @Model[i].DateCreated.ToShortTimeString()</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}