@model List<Post>
@inject IConfiguration configuration
@{
    var hostAddress = configuration.GetSection("ApiServer").Value;
}
@if (Model != null && Model.Count > 0)
{
    <div class="row">
        <div class="col-lg-5 col-md-6 item">
            <div class="card">
                <div class="card-header p-0 position-relative blog-post-thumb">
                    <a asp-action="Detail" asp-controller="Post" asp-area="" asp-route-id="@Model[0].Id" rel="bookmark" class="blog-desc">
                        <div class="post-thumbnail">
                            <img width="560" height="370"
                                 src="@(hostAddress + "/" + Model[0].Thumbnail)"
                                 class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy">
                        </div><!-- .post-thumbnail -->

                    </a>
                </div>
                <div class="card-body p-0 blog-details">
                    <a asp-action="Detail" asp-controller="Post" asp-area="" asp-route-id="@Model[0].Id" rel="bookmark" class="blog-desc">
                        @Model[0].Title
                    </a>
                    <!-- <p>Lorem ipsum dolor sit amet consectetur ipsum adipisicing elit. Qui eligendi
                    vitae sit.</p> -->

                    <div class="author align-items-center mt-3 mb-1">
                        <a class="url fn n" href="https://wp.w3layouts.com/designblog/author/w3layouts/">@Model[0].Author.Username</a>
                        in  <a asp-action="Detail" asp-controller="Category" asp-area="" asp-route-id="@Model[0].CategoryId" rel="category tag">@Model[0].Category.Name</a>
                    </div>

                    <ul class="blog-meta">
                        <li class="meta-item blog-lesson">
                            <span class="meta-value"> @Model[0].DateCreated.ToShortDateString() </span>
                        </li>
                        <li class="meta-item blog-students">
                            <span class="meta-value"> @Model[0].DateCreated.ToShortTimeString()</span>
                        </li>
                    </ul>

                    <a asp-action="Index" asp-controller="Post" class="btn btn-style btn-outline mt-4">
                        Views all posts
                    </a>

                </div>
            </div>
        </div>

        <!-- featured second row posts -->

        <div class="col-lg-7 col-md-6 mt-md-0 mt-5">
            @if (Model.Count > 1)
            {
                for (int i = 1; i < Model.Count; i++)
                {
                    <div class="list-view list-view1 mb-5">
                        <div class="grids5-info">
                            <a asp-action="Detail" asp-controller="Post" asp-area="" asp-route-id="@Model[i].Id" class="d-block zoom">
                                <div class="post-thumbnail">
                                    <img width="340" height="284"
                                         src="@(hostAddress + "/" + Model[i].Thumbnail)"
                                         class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy">
                                </div><!-- .post-thumbnail -->
                            </a>
                            <div class="blog-info align-self">
                                <a asp-action="Detail" asp-controller="Post" asp-area="" asp-route-id="@Model[i].Id" class="blog-desc1">
                                    @Model[i].Title
                                </a>
                                <div class="author align-items-center mt-3 mb-1">
                                    <a class="url fn n" href="https://wp.w3layouts.com/designblog/author/w3layouts/"> @Model[i].Author.Username</a>

                                    in <a asp-action="Detail" asp-controller="Category" asp-area="" asp-route-id="@Model[i].CategoryId" rel="category tag"> @Model[i].Category.Name</a>
                                </div>

                                <ul class="blog-meta">
                                    <li class="meta-item blog-lesson">
                                        <span class="meta-value">  @Model[i].DateCreated.ToShortDateString() </span>
                                    </li>
                                    <li class="meta-item blog-students">
                                        <span class="meta-value">  @Model[i].DateCreated.ToShortTimeString()</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}