@model IEnumerable<Post>
@inject IConfiguration configuration
@{
    var hostAddress = configuration.GetSection("ApiServer").Value;
}
<h3 class="section-title-left">
    Most Recent Posts
</h3>

@foreach (Post post in Model)
{
    <div class="list-view ">
        <div class="grids5-info img-block-mobile mb-5">
            <div class="blog-info align-self">

                <span class="category">
                    <a href="https://wp.w3layouts.com/designblog/category/lifestyle/"
                       rel="category tag">@post.Category.Name</a>
                </span>

                <a href="https://wp.w3layouts.com/designblog/2021/05/31/here-are-a-few-tips-that-will-help-you-to-get-started-about-lifestyle/"
                   class="blog-desc mt-0">
                    @post.Title
                </a>

                <div class="author align-items-center mt-3 mb-1">
                    <a class="url fn n" href="#">@post.Author.Username</a>

                    in <a href="#" rel="category tag">@post.Category.Name</a>

                </div>

                <ul class="blog-meta">
                    <li class="meta-item blog-lesson">
                        <span class="meta-value"> @post.DateCreated.ToShortDateString() </span>
                    </li>
                    <li class="meta-item blog-students">
                        <span class="meta-value"> @post.DateCreated.ToShortTimeString()</span>
                    </li>
                </ul>

            </div>
            <a href="https://wp.w3layouts.com/designblog/2021/05/31/here-are-a-few-tips-that-will-help-you-to-get-started-about-lifestyle/"
               class="d-block zoom mt-md-0 mt-3">

                <div class="post-thumbnail">
                    <img width="560" height="370"
                         src="@(hostAddress + "/" + post.Thumbnail)"
                         class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy">
                </div>
            </a>
        </div>
    </div>
}