@model IEnumerable<Post>
@inject IConfiguration configuration
@{
    var hostAddress = configuration.GetSection("ApiServer").Value;
}
<h3 class="section-title-left">
    Most Recent Posts
</h3>

@foreach (Post post in Model)
{
    <div class="list-view ">
        <div class="grids5-info img-block-mobile mb-5">
            <div class="blog-info align-self">

                <span class="category">
                    <a asp-action="Detail" asp-controller="Category" asp-area="" asp-route-id="@post.CategoryId" rel="category tag">
                        @post.Category.Name
                    </a>
                </span>
                <a asp-action="Detail" asp-controller="Post" asp-area="" asp-route-id="@post.Id" class="blog-desc mt-0">
                    @post.Title
                </a>

                <div class="author align-items-center mt-3 mb-1">
                    <a class="url fn n" asp-action="Detail" asp-controller="Member" asp-route-id="@post.Author.Id">@post.Author.Username</a>

                    in
                    <a asp-action="Detail" asp-controller="Category" asp-area="" asp-route-id="@post.CategoryId" rel="category tag">
                        @post.Category.Name
                    </a>

                </div>

                <ul class="blog-meta">
                    <li class="meta-item blog-lesson">
                        <span class="meta-value"> @post.DateCreated.ToShortDateString() </span>
                    </li>
                    <li class="meta-item blog-students">
                        <span class="meta-value"> @post.DateCreated.ToShortTimeString()</span>
                    </li>
                </ul>

            </div>
            <a asp-action="Detail" asp-controller="Post" asp-area="" asp-route-id="@post.Id" class="d-block zoom mt-md-0 mt-3">
                <div class="post-thumbnail">
                    <img width="560" height="370"
                         src="@(hostAddress + "/" + post.Thumbnail)"
                         class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy">
                </div>
            </a>
        </div>
    </div>
}