@model IEnumerable<Post>
@inject IConfiguration configuration
@{
    var hostAddress = configuration.GetSection("ApiServer").Value;
}
<h3 class="section-title-left">
    Today Highlights
</h3>
<div class="row">
    @foreach (Post post in Model)
    {
        <div class="col-lg-6 col-md-6">
            <div class="list-view list-view1">
                <div class="grids5-info mb-5">
                    <a asp-action="Detail" asp-controller="Post" asp-area="" asp-route-id="@post.Id" class="d-block zoom">
                        <div class="post-thumbnail">
                            <img width="340" height="284"
                                 src="@(hostAddress + "/" + post.Thumbnail)"
                                 class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy">
                        </div><!-- .post-thumbnail -->

                    </a>
                    <div class="blog-info align-self">
                        <a asp-action="Detail" asp-controller="Post" asp-area="" asp-route-id="@post.Id" class="blog-desc1">
                            @post.Title
                        </a>

                        <div class="author align-items-center mt-3 mb-1">
                            <a class="url fn n" href="#">@post.Author.Username</a>

                            in
                            <a asp-action="Detail" asp-controller="Category" asp-area="" asp-route-id="@post.CategoryId" rel="category tag">                               
                                    @post.Category.Name
                                </a>
                        </div>

                        <ul class="blog-meta">
                            <li class="meta-item blog-lesson">
                                <span class="meta-value"> @post.DateCreated.ToShortDateString() </span>
                            </li>
                            <li class="meta-item blog-students">
                                <span class="meta-value"> @post.DateCreated.ToShortTimeString() </span>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    }
</div>