@model IEnumerable<Post>
<div id="rpwwt-recent-posts-widget-with-thumbnails-5" class="rpwwt-widget">
    <h2 class="widget-title">Trending</h2>
    <ul>
        @foreach (Post post in Model)
        {
            <li>
                <a asp-action="Detail" asp-controller="Post" asp-route-id="@post.Id">
                    <span class="rpwwt-post-title">@post.Title</span>
                </a>
                <div class="rpwwt-post-author">By <a href="#">@post.Author.Username</a></div>
                <div class="rpwwt-post-categories">
                    in
                    <a asp-action="Detail" asp-controller="Category" asp-area="" asp-route-id="@post.CategoryId" rel="category tag">
                        @post.Category.Name
                    </a>
                </div>
                <div class="rpwwt-post-date">@post.DateCreated.ToShortDateString()</div>
            </li>
        }
    </ul>
</div>