@model List<Category>
<a asp-action="Create">Create</a>
@if (Model.Count > 0)
{
    <table class="table table-borderless">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>ParentCategoryId</th>
                <th>IsDeleted</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                    <td>@category.ParentCategoryId</td>
                    <td>@category.IsDeleted</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@category.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@category.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}