@model List<Comment>
<h4 class="text-center">QUẢN LÝ BÌNH LUẬN</h4>
<div class="my-5">
    @if (Model != null && Model.Count > 0)
    {
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>Nội dung</th>
                    <th>Người đăng</th>
                    <th>Ngày đăng</th>
                    <th>Trong bài viết</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Comment comment in Model)
                {
                    <tr>
                        <td>
                            @comment.Content
                        </td>
                        <td>@comment.Author.FullName</td>
                        <td>@comment.DateCreate.ToShortDateString()</td>
                        <td>
                            <a asp-action="Detail" asp-controller="Post" asp-area="" asp-route-id="@comment.Post.Id" asp-fragment="comment_@comment.Id">
                                @comment.Post.Title
                            </a>
                        </td>
                        <td><a asp-action="Delete" asp-route-id="@comment.Id" class="btn btn-sm btn-danger">Xóa</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h5 class="text-center">Hiện không có bình luận nào</h5>
    }
</div>