@model ListPostByMemberViewModel
<div class="container my-5">
    <h4 class="text-center">DANH SÁCH BÀI VIẾT CỦA THÀNH VIÊN <b>@Model.Member.FullName </b> </h4>
    <div class="mt-4">
        @if (Model.Posts.Count > 0)
        {
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>Tiêu đề</th>
                        <th>Ngày tạo</th>
                        @if (int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)) == Model.Member.Id)
                        {
                            <th>Đã duyệt</th>
                        }
                        <th>Thuộc danh mục</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Post post in Model.Posts)
                    {
                        <tr>
                            <td>
                                <a asp-action="Detail" asp-controller="Post" asp-route-id="@post.Id">
                                    @post.Title
                                </a>
                            </td>
                            <td>@post.DateCreated.ToShortDateString()</td>
                            @if (int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)) == Model.Member.Id)
                            {
                                <td>@(post.IsActive ? "Đã duyệt" : "Chưa duyệt")</td>
                            }
                            <td>@post.Category.Name</td>
                            <td>
                                @if (User.Identity.Name == Model.Member.Username)
                                {
                                    <a asp-action="Edit" asp-controller="Post" asp-route-id="@post.Id" asp-area="">Chỉnh sửa</a>
                                    <a asp-action="Delete" asp-controller="Post" asp-route-id="@post.Id" asp-area="">Xóa</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>}
        else
        {
            <h5>Hiện không có bài viết nào</h5>
        }
    </div>

</div>
